<script src="/public/js/bootstrap.js"></script>

<head>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2e58876b6d.js"></script>

    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<!-- This partial is for linking the user to add a book -->

<div class="card shadow mb-3" style="max-width: 540px;">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/public/img/placeholder_portrait.jpeg" class="shadow img-fluid dashboard-image" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><strong>Have a new read in mind?</strong></h5>
                    <p class="card-text">Add a new book to your collection. If you were thinking of buying a new book,
                        you
                        can
                        also add it to you wishlist.</p>
                </div>
                <p class="text-center">
                    <a href="/addbook" class="btn btn-primary stretched-link">Add a book now</a>
                </p>

            </div>
        </div>
    </div>
</div>