<script src="/public/js/bootstrap.js"></script>


<script crossorigin="anonymous" src="https://kit.fontawesome.com/2e58876b6d.js"></script>
<!-- USE HANDLEBARS TEMPLATING ON THIS CARD -->

<div class="col">
    <div class="card shadow" style="height: 35rem;">

        <!-- To be fixed -->
        <script id="t" type="text/x-handlebars">
            <img class="card-img-top" src="/public/uploads/{{this.filename}}">
        </script>

        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{author}}</p>
        </div>
        <div class="card-footer" style="height: 3.5rem">
            <p class="text-center">
                <a href="/book" class="btn btn-primary stretched-link">Check out <strong>
                        {{title}}</strong></a>
            </p>
        </div>

    </div>
</div>