<script src="/public/js/bootstrap.js"></script>


<head>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2e58876b6d.js"></script>

    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    {{#each flash}}
    <div class="alert alert-danger" style="text-align:center">
        <strong>{{this}}</strong>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {{/each}}
    <div class="card mb-3">
        <div class="row md-8">
            <div class="col-md-4">
                <img src="/public/img/placeholder.jpeg" style="object-fit: cover" class="img-fluid rounded-start"
                    alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1> Add your favorite book!</h1>
                    <h5 class="p-2">This is where the magic happens, add a cover image, title, author and a short
                        description of your book!</h5>
                    <div class="p-2">
                        <form action="/post-book" id="post-book" name="post-book" method="post" enctype="multipart/form-data">
                            <div class="form-outline">
                                <label for="image"><span style="color:red;">*</span>Upload an image:</label>
                                <input class="form-control form-control-sm" type="file" name="image" id="image" 
                                accept="image/jpeg, image/png, image/jpg">
                            </div>
                            <br>
                            <div class="form-outline">
                                <label for="title"><span style="color:red;">*</span>Title:</label>
                                <input type="text" name="title" id="title" class="form-control form-control-sm"
                                    placeholder='Title' />
                            </div>
                            <br>
                            <div class="form-outline">
                                <label for="author"><span style="color:red;">*</span>Author:</label>
                                <input type="text" name="author" id="author" class="form-control form-control-sm"
                                    placeholder='Author' />
                            </div>
                            <br>        
                            <label for="genre"><span style="color:red;">*</span>Choose a genre:</label>
                            <select class="form-select form-select-sm" name="genre" id="genre">
                                <option value="Fantasy">Fantasy</option>
                                <option value="Science Fiction">Science Fiction</option>
                                <option value="Action Adventure">Action Adventure</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Horror">Horror</option>
                                <option value="Historical Fiction">Historical Fiction</option>
                                <option value="Romance">Romance</option>
                                <option value="Contemporary Fiction">Contemporary Fiction</option>
                                <option value="Young Adult">Young Adult</option>
                                <option value="Children’s">Children’s</option>
                                <option value="Biography">Biography</option>
                                <option value="Food and Drink">Food and Drink</option>
                                <option value="Art and Photography">Art and Photography</option>
                                <option value="Self-help">Self-help</option>
                                <option value="Travel">Travel</option>
                                <option value="Other">Other</option>
                            </select>
                            <br>
                            <label for="wishlist"><span style="color:red;">*</span>Add to wishlist:</label>
                            <select class="form-select form-select-sm" name="wishlist" id="wishlist">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>>
                            </select>
                            <br>
                            <div class="form-outline">
                                <label for="description">Description:</label>
                                <textarea name="description" id="description" placeholder="Description (Max 150 Characters)"
                                class="form-control form-control-sm" rows="3" form="post-book" oninput="countChars()"></textarea>
                                <p align="right"><font size="2"><span id="count">0</span>/150</font></p>
                                <script>
                                    function countChars() {
                                        var numChars = document.getElementById("description").value.length;
                                        if (numChars > 150) {
                                            document.getElementById("count").style = "color:red";
                                        } else {
                                            document.getElementById("count").style = "";
                                        }
                                        document.getElementById("count").innerHTML = `${numChars}`;
                                    }
                                </script>
                            </div>
                            <br>
                            <button id="cancel-add" type="button" onclick="window.location='/dashboard';return false;"
                                class="btn btn-dark btn-md redButton">Cancel</button>
                            <button id="save-book" type="submit" class="btn btn-primary btn-md">Add This Book!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>




</body>