<script src="/public/js/bootstrap.js"></script>


<script crossorigin="anonymous" src="https://kit.fontawesome.com/2e58876b6d.js"></script>
<!-- USE HANDLEBARS TEMPLATING ON THIS CARD -->

<div class="col">
    <div class="card shadow" style="height: 35rem;" href="/addbook">
        <img src="/public/img/placeholder.jpeg" class="card-img-top" alt="add a book">
        <div class="card-body">
            <h5 class="card-title">Placeholder Book</h5>
            <p class="card-text">This book is a really amazing book, I highly recommend it!</p>

        </div>
        <div class="card-footer" style="height: 3.5rem">
            <p class="text-center">
                <a href="/book" class="btn btn-primary stretched-link">Check out <strong>Placeholder
                        Book</strong></a>
            </p>
        </div>
    </div>
</div>