<script src="/public/js/bootstrap.js"></script>

<head>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2e58876b6d.js"></script>

    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

{{#each flash}}
<div class="alert alert-danger" style="text-align:center">
    <strong>{{this}}</strong>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
{{/each}}

<div class="container">
    <h2 align="center">Settings and preferences ⚙️</h2>
</div>

<div class="container py-5 h-40">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow card-registration" style="border-radius: 15px;">
                <div class="card-body" style="flex-direction: row">

                    <div class='p-5 text-center'>
                        <i class="fa-solid fa-key fa-5x"></i>
                        <div class='container'>
                            <h4 align='center'><em>Change your password</em></h4>
                            <p><em>Well, if you didn't make a good enough password, change it!</em></p>
                        </div>
                        <form action="/changepassword" method="post">
                            {{#each UserData}}
                            <input type="hidden" id="username" name="username" value="{{username}}">
                            {{/each}}
                            <div class="form-outline">
                                <input type="password" name="password1" id="password1"
                                    class="form-control form-control-sm" placeholder="Old password" />
                            </div>
                            <br />
                            <div class="form-outline">
                                <input type="password" name="password2" id="password2"
                                    class="form-control form-control-sm" placeholder="New password" />
                            </div>
                            <br />
                            <br />
                            <button id="change-password" type="submit" class="btn btn-primary btn-md">Change Password</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-5 h-40">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow card-registration" style="border-radius: 15px;">
                <div class="card-body" style="flex-direction: row">

                    <div class='p-5 text-center'>
                        <i class="fa-solid fa-toolbox fa-5x"></i>
                        <div class='container'>
                            <h4 align='center'><em>Other Settings</em></h4>
                            <p><em>Coming soon</em></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>