<script src="/public/js/bootstrap.js"></script>
<div class="container">
    <div class="card shadow p3">
        <div class="p-5 text-center">
            <img src="/public/img/book_large.png">
            <h1><strong>Book</strong>pedia</h1>
            <h3>It's exactly what you think it is..</h3>
            <p>A book keeping app designed to help you keep track of your reading</p>

            <div class="columns is-centered">
                <form action="/auth">
                    <button type="submit" onclick="/auth" class="btn btn-primary btn-lg">Sign up</button>
                </form>
            </div>
            <br>
            <div class="columns is-centered">
                <form action="/auth/login">
                    <button type="submit" class="btn btn-light btn-lg">Log in</button>
                </form>
            </div>

            <br>
            <div class="columns is-centered">

            </div>
        </div>
    </div>
</div>