<!-- CSS only -->

<head>
    <link href="/public/css/styles.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-custom fixed-top navbar-expand-lg shadow p-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/public/img/book.png" width="50" height="50"
                class="d-inline-block align-top logo-margin" alt=""></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><strong>Bookpedia</strong> <span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js" rel="stylesheet"></script>

</body>