@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap');

* {
    font-family: Roboto;
}

h1,
h2,
h3 {
    font-family: 'Noto Serif', serif;
}

.logo-margin {
    margin-left: 0.5rem;
}

.dashboard-image {
    border-radius: 0.5rem;
}

.container {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem
}

textarea {
    border-radius: 1rem;
}

.welcome-msg {
    text-align: center;
    font-family: 'Roboto', 'sans-serif', 300;
}

.images {
    margin-bottom: 0.5rem;
}


.cards {
    margin: 3rem;
    max-width: 1000px;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-radius: 2rem;

}

.center-cropped {
    width: 100%;
    height: 100%;
    background-position: center center;
    overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
    min-height: 100%;
    min-width: 100%;
    opacity: 0%
}

.navbar {
    filter: drop-shadow(2px 2px 2px #ffffff38);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

}


.navbar-custom {
    background-color: rgba(244, 244, 244, 0.804);
}

footer {
    text-align: center;
}

p {
    font-size: large;
}

#welcome_msg {
    font-weight: 400;
}

#clock {
    font-size: 4.5rem;
}

#clock-small {
    font-size: 2.5rem;
}

.embed-responsive .img {
    object-fit: cover;
}

.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            rgb(227, 59, 174) 0%,
            rgb(87, 123, 230) 25%,
            rgb(169, 73, 224) 51%,
            rgb(160, 16, 16) 100%);
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

body {
    padding-top: 90px;
}

@media (max-width: 979px) {
    body {
        padding-top: 90px;
    }
}

.alias {
    font-size: medium;
}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: white;
}

.search-box {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.friend-list {
    display: block;
    margin: auto;
    padding: 0;
    width: 70%;
    height: 100%;
    background: #EEE;
    list-style-type: none;
}
  
.friend {
    width: auto;
    height: 60px;
    background: #EEE;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
}
  
.friend img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
}
  
.friend .name {
    font-size: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 120px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h3 {
    margin-top: 0;
    color: #333;
    font-family: 'Noto Serif', serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 10ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #009f42;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
}
  
@media screen and (max-width: 700px){
    .popup{
      width: 70%;
    }
}

.inbox {
    display: block;
    margin: auto;
    padding: 0;
    width: 95%;
    height: 100%;
    background: #EEE;
    list-style-type: none;
}

.recommendation {
    width: auto;
    height: fit-content;
    background: #EEE;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
}

.recommendation img {
    width: 60px;
    height: 60px;
}
  
.recommendation:not(.selected):hover {
    background: #DDD;
}

.recommendation .content {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 8px;
}

.recommendation .content h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

.recommendation .content p {
    font-size: 14px;
    margin-bottom: 2px;
}

.recommendation .time p {
    margin-top: 10px;
    font-size: 13px;
    text-align: right;
    color:rgb(138, 138, 138);
}

#textButton {
    cursor: pointer;
    font-weight: 510;
    color:rgb(133, 133, 133);
}

#textButton:hover {
    text-decoration: underline;
}